/* NAVIGATION BAR */
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #ffffff;
    --text-secondary: #c21807;
    --bg-primary: #000000;
    --bg-secondary: #393939;
    --svg-primary: #ffffff;
    --svg-secondary: #c21807;

    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    /* width: 5rem;
    height: 100vh; */
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    z-index: 100;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    font-weight: bold;
    visibility: hidden;
    margin-left: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: visibility 0s, opacity var(--transition-speed) linear;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: var(--svg-primary);
}

.nav-item:hover svg,
.nav-item:hover .link-text {
    color: var(--text-secondary);
    fill: var(--svg-secondary);
    transition: var(--transition-speed);
}

/* .navbar:hover {
    width: 19rem;
} */

/* .navbar:hover .link-text {
    visibility: visible;
    opacity: 1;
} */

.logo_jpg {
    max-width: 2rem;
    margin: 0 1.5rem;
    border-radius: 50%;
}

.logo {
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-align: left;
    color: var(--text-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo img {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo img {
    transform: rotate(-360deg);
}

/* LARGE SCREENS */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 19rem;
    }
    .navbar:hover .link-text {
        visibility: visible;
        opacity: 1;
    }
    .nav-item:hover .link-text {
        color: var(--text-secondary);
        fill: var(--svg-secondary);
        transition: var(--transition-speed);
    }
}

/* SMALL SCREENS */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: space-around;
    }
    main {
        margin: 0;
    }
}