/* NAVIGATION BAR */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.topnav a.left {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
}
.topnav a.right {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
}
.topnav a:hover {
    background-color: black;
    color: white;
}
.topnav a.active {
    background-color: black;
    color: white;
}

.logo {
    text-align: center;
    padding-top: 150px;
}